extends base.pug
block content
  .container
    a(href='/upload') 
      button.btn.btn-dark.point-cloud-button Upload Point Cloud
    a(href='/login') 
      button.btn.btn-dark.point-cloud-button Login
    if validSession
      a(href='/logout') 
        button.btn.btn-dark.point-cloud-button Logout
    if !validSession
      a(href='/createNewUser') 
        button.btn.btn-dark.point-cloud-button Create new User
    a(href='/fileconvert')
      button.btn.btn-dark.convert-file-button Convert File
    .row
      h2.text-white Public Clouds
      table.table.table-dark.table-bordered.table-hover
        tr
          th Data
          th Data 
          th Link to point cloud
        tr
        <!--write two loops one to picture only the clouds with public label and one for the other one-->
        each cloud in clouds
          if cloud.public
            tr
              td #{cloud.cloud_name} 
              td Some Data 
              td #{cloud.link}
    .row
      h2.text-white My Clouds
      if validSession
        table.table.table-dark.table-bordered.table-hover
          tr
            th Data
            th Data 
            th Link to point cloud
          tr
          each cloud in clouds  
            if !cloud.public
              tr
                  td #{cloud.cloud_name} 
                  td Some Data 
                  td #{cloud.link}
      else 
        h3 Login to see your uploaded clouds

