extends base.pug
block content
  .container
    .btn-group(role='group' aria-label='Basic example')
      a(href='/upload') 
        button.btn.btn-primary.btn-dark.point-cloud-button Upload Point Cloud
      a(href='/login') 
        button.btn.btn-primary.btn-dark.point-cloud-button Login
      a(href='/fileconvert')
        button.btn.btn-primary.btn-dark.point-cloud-button Convert File
    .row
      h2.text-white Public Clouds
      table.table.table-dark.table-bordered.table-hover
        tr
          th Point cloud name
          th Link to point cloud
        tr
        each cloud in clouds
          tr
            td #{cloud.cloud_name} 
            td #{cloud.link}
    .row
      h2.text-white My Clouds
      input#search(type='text' onkeyup='searchName()' placeholder='Search for names..')
      table.table.table-dark.table-bordered.table-hover#mycloud
        tr
          th Point cloud name
          th Link to point cloud
        tr
    .scrollableTable
      table.table.table-dark.table-bordered.table-hover#mycloud
        each val in [1, 2, 3, 4, 5]
          tr
          each val in [1, 2, 3, 4, 5]
            tr
              td Some Data
              td Link

        script.
          function searchName() {
          var input, table, tr, td, i, txtValue;
          input = document.getElementById("search").value.toUpperCase();
          table = document.getElementById("mycloud");
          tr = table.getElementsByTagName("tr");
          for (i = 0; i < tr.length; i++) {
          td = tr[i].getElementsByTagName("td")[0];
          if (td) {
          txtValue = td.textContent || td.innerText;
          if (txtValue.toUpperCase().indexOf(input) > -1) {
          tr[i].style.display = "";
          } else {
          tr[i].style.display = "none";
          }
          }
          }
          }
