extends index.pug 

block content 
    .container
        div.row
            div.col-md-3
            div.text-center.col-md-6
                h1 Login
                form(action="auth" method="post")
                    label(for="username") Username
                    input(type="text" placeholder="Enter Username" name="username" required)

                    label(for="password") Password
                    input(type="password" placeholder="Enter Password" name="password" required)

                    button(type="submit") Login
                div.text-left
                    p form
            div.col-md-3