extends base.pug
block content
  .container
    form(method="POST" action="/login")
      if error 
        h3 #{message}
      br
      label#login(for = "username") Username:
      input.form-control(type = "text", name = "username")
      br
      label#login(for = "password") Password:
      input.form-control(type = "password", name = "password")
      br
      button.btn.btn-dark.point-cloud-button(type = "submit", name = "submit" style='margin-left:0pt;') Submit
