extends index.pug 

block content 
    .container
        div.row
            div.col-md-3
            div.text-center.col-md-6
                h1 Register
                form(action="register" method="post")
                    label(for="email") email
                    input(type="text" placeholder="Enter email" name="email" required)

                    label(for="password") Password
                    input(type="password" placeholder="Enter Password" name="password" required)

                    button.btn.btn-primary.btn-dark.point-cloud-button(type="submit") Register
            div.col-md-3