extends index.pug

block content
  .container
    form(id='uploadForm')
      input(type='file', name='fileToUpload' id='fileToUpload' required)
      br
      input(type='submit' id='beginUpload')

  script(src="js/upload.js")